<div class="list-group">
  {{#if this.empty}}
    <p class="card-text">Không có dữ liệu.</p>
  {{else}}
  <table class="table table-hover table-active">
    <thead>
      <tr>

        <th scope="col" class="text-center">No.</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Categories</th>
        <th scope="col" class="text-center">DatePost</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.listPost}}
      <tr>
        <th scope="row" class="text-center">{{@index}}</th>
        <td class="text-center">{{Title}}</td>
        <td class="text-center">{{cateName}}</td>
        <td class="text-center">{{DatePost}}</td>
        <td class="text-center">{{statusName}}</td>
        <td class="text-right">
          <a class="btn btn-primary btn-sm" href="/editor/reviewPost/{{Id}}" role="button" title="Review Post">
          Review
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          {{!-- <a class="btn btn-danger btn-sm" href="javascript:;" role="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a> --}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

  <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
          <a class="page-link" href="?page={{prev_value}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each this.page_items}}
        {{#if isActive}}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{value}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {{else}}
        <li class="page-item {{#if isDisabled}}disabled{{/if}}">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
          <a class="page-link" href="?page={{next_value}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>