<div class="d-flex justify-content-center">
  {{#each this.listCate}}
  <a href="/editor/denied/?cate={{IdCategories}}" type="button"
    class="btn btn-outline-secondary mr-3 mb-3  {{#if isActiveCate}} bg-success{{/if}}">{{Name}}</a>
  {{/each}}
</div>
<div class="d-flex justify-content-center">
  {{#each this.listCateSub}}
  <a href="/editor/denied/?cate={{idCate}}&catesub={{Id}}" type="button"
    class="btn btn-outline-secondary btn-sm mr-3 mb-3  {{#if isActiveCateSub}} active{{/if}}">{{Name}}</a>
  {{/each}}
</div>

 {{#if this.empty}}
    <div class="text-center">No data</div>
  {{else}}
<div class="list-group">
  <table class="table">
    <thead class="bg-danger">
      <tr >
        <th scope="col" class="text-center">No.</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Categories</th>
        <th scope="col" class="text-center">Categories Sub</th>
        <th scope="col" class="text-center">DatePost</th>
        <th scope="col" class="text-center">Status</th>
         <th scope="col" class="text-center">Reason</th>
        <th scope="col" class="text-center">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.listPost}}
      <tr>
        <th scope="row" class="text-center">{{@index}}</th>
        <td class="text-center">{{Title}}</td>
        <td class="text-center">{{cateName}}</td>
        <td class="text-center">{{cateSubName}}</td>
        <td class="text-center">{{DatePost}}</td>
        <td class="text-center">{{statusName}}</td>
        <td class="text-center">{{Note}}</td>
        <td class="text-right">
          <a class="btn btn-outline-danger btn-sm" onclick="return confirm('Are you sure you want to Remove?');" href="/editor/deletedeny/?cate={{cateId}}&catesub={{IdCategories}}&id={{Id}}" role="button" title="
Remove from the list of rejected posts">
          <i class="far fa-trash-alt"></i>
          </a>
          <a class="btn btn-outline-warning btn-sm" href="/editor/editdeny/{{Id}}" role="button" title="Modify the reason for the decline">
          <i class="fas fa-pen"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
        <a class="page-link" href="?cate={{cate}}&catesub={{catesub}}&page={{prev_value}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each this.page_items}}
      {{#if isActive}}
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{value}}
          <span class="sr-only">(current)</span>
        </span>
      </li>
      {{else}}
      <li class="page-item {{#if isDisabled}}disabled{{/if}}">
        <a class="page-link" href="?cate={{cate}}&catesub={{catesub}}&page={{value}}">{{value}}</a>
      </li>
      {{/if}}
      {{/each}}
      <li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
        <a class="page-link" href="?cate={{cate}}&catesub={{catesub}}&page={{next_value}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {{/if}}
</div>