<div class="card">
    <div class="card-header d-flex justify-content-between">
        <button class="btn btn-info" onclick="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i>
            Back</button>
        <h5 class="card-title text-primary mt-2">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <b>REVIEW MODE</b>
        </h5>
    </div>
    <div class="card-body">
        <div class="text-center">
            <h2>{{this.reviewPost.Title}}</h2>
        </div>
        <div class="mt-3">
            <i class="fas fa-user-edit"></i> <b>Author: </b><b class="text-danger">{{this.author.Nickname}}</b></i>   
        </div>
        <div class="mt-3">
             <i class="far fa-calendar-alt"></i> <b>Date post: </b><i>{{this.reviewPost.DatePost}}</i>
        </div>
         <div class="mt-3">
           <i class="fas fa-bars"></i> <b>Categories: </b> <b class="text-success">{{this.cate.Name}} <small> <i class="fas fa-angle-double-right"></i> {{this.cateSub.Name}}</small></b>
        </div>
        <div class="mt-3">
            <i class="fas fa-cut"></i> <b>Content Summary: </b>
            {{this.reviewPost.Content_Summary}}
        </div>
        <div class="mt-3">
            <b><i class="fas fa-book-open"></i>Content Full: </b>
        </div>
        <div class="border border-success mt-3 ">
            {{{this.reviewPost.Content_Full}}}</div>
        <div><i class="fas fa-tags"></i><b>Tags: </b></div>
        <div>
            {{#each this.listTag}}
            <i class="bg-secondary text-white">#{{TagName}}</i>
            {{/each}}
        </div>
        <div class="text-center">
            <a type="button" class="btn btn-success" href="/editor/accept/{{this.reviewPost.Id}}">Accept</a>
            <a type="button" class="btn btn-danger" href="/editor/deny/{{this.reviewPost.Id}}">Deny</a>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>