<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">

						<!-- Category -->

						<div class="category">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">List post for tag: #{{this.TagName}}</div>
							</div>
							<div class="section_content">
								<div class="grid clearfix">
                                        {{#if this.emptyPost}}
                                            <div class="side_post">
                                                <a href="/">
                                                    <div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
                                                        <div class="side_post_title">Non Post</div>
                                                    </div>
                                                </a>
                                            </div>
                                        {{else}}
                                            <div class="owl-item">
                                                {{#each this.listPost}}

                                                    {{#if IsPremium}}
														<div class="card card_default card_small_with_image grid-item" style="background-color: rgb(231, 231, 146);">
													{{else}}	
														<div class="card card_default card_small_with_image grid-item">
													{{/if }}	
															<img class="card-img-top" src="../..{{Avatar}}" alt="">
															<div class="card-body">
																{{#if IsPremium}}
																	<div class="card-title card-title-small title-post"><a href="/detail/{{Url}}"><span style="color: red;">{{Title}}</span>  &nbsp;<i class="fas fa-crown"></i></a></div>
																{{else}}	
																	<div class="card-title card-title-small title-post"><a href="/detail/{{Url}}">{{Title}}</a></div>
																{{/if }}
																	<p class="card-text content-summary">{{Content_Summary}}</p>
																	<small class="post_meta">
																		<i class="fa fa-user" aria-hidden="true"></i> &nbsp; <a href="#">{{Nickname}}</a>
																		<span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; {{DatetimePost}}</span>
																	</small>
																	<i class="fa fa-th-list" aria-hidden="true"></i>Category &nbsp; <li class="post_tag" style="background-color: rgb(173, 57, 57);"><a style="color:seashell" href="/category/{{CatURL}}">{{Name}}</a></li><br>
																	<div class="list-tag">
																		<i class="fa fa-tags" aria-hidden="true"></i>Tags: &nbsp; 
																		{{#load_list_tags ../listPostTags Id}}
																			<li class="post_tag" style="background-color: rgb(161, 179, 61);"><a href="/tag/{{TagName}}">{{Name}}</a></li>
																		{{/load_list_tags}}
																	</div>
															</div>
                                                    	</div>
                                                {{/each}}
                                            </div>
                                        {{/if}}
								</div>
								<div class="pagination-reinstall">
									<div class="row justify-content-center">
										<nav aria-label="...">
											<ul class="pagination">
												<li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
													<a class="page-link"
														{{#if SearchNotEmpty}}href="/tag/{{TagName}}?page=1"
														{{else}}href="/tag/{{TagName}}?page=1"
														{{/if}} aria-label="Previous">
														<span aria-hidden="true">FIRST</span>
													</a>
												</li>
												<li class="page-item {{#unless can_go_prev}}disabled{{/unless}}">
													<a class="page-link"
														{{#if SearchNotEmpty}}href="/tag/{{TagName}}?page={{prev_value}}"
														{{else}}href="/tag/{{TagName}}?page={{prev_value}}"
														{{/if}} aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
													</a>
												</li>
												{{#each this.page_items}}
													{{#if isActive}}
													<li class="page-item active" aria-current="page">
														<span class="page-link">
															{{value}}
															<span class="sr-only">(current)</span>
														</span>
													</li>
													{{else}}
													<li class="page-item {{#if isDisabled}}disabled{{/if}}">
														<a class="page-link"
															{{#if ../SearchNotEmpty}}href="/tag/{{../TagName}}?page={{value}}"
															{{else}}href="/tag/{{../TagName}}?page={{value}}"
															{{/if}}>{{value}}</a>
													</li>
													{{/if}}
												{{/each}}
												<li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
													<a class="page-link"
														{{#if SearchNotEmpty}}href="/tag/{{TagName}}?page={{next_value}}"
														{{else}}href="/tag/{{TagName}}?page={{next_value}}"
														{{/if}} aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
												<li class="page-item {{#unless can_go_next}}disabled{{/unless}}">
													<a class="page-link"
														{{#if SearchNotEmpty}}href="/tag/{{TagName}}?page={{last}}"
														{{else}}href="/tag/{{TagName}}?page={{last}}"
														{{/if}} aria-label="Next">
														<span aria-hidden="true">LAST</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_background"></div>

						<!-- Top Stories -->

						<div class="sidebar_section">
							<div class="sidebar_title_container">
								<div class="sidebar_title">Top Stories</div>
								<div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_top">
											<li class="custom_dot custom_dot_top active"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
											<li class="custom_dot custom_dot_top"><span></span></li>
										</ul>
										<div class="custom_next custom_next_top">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar_section_content">

								<!-- Top Stories Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_top">

										<!-- Top Stories Slider Item -->
										<div class="owl-item">
											{{#loadListRandomSideBar_1 this.listRandomSidebar}}
												<div class="side_post">
													<a href="/detail/{{Url}}">
														<div
															class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
															<div class="side_post_image">
																<div><img src="{{Avatar}}" alt=""></div>
															</div>
															<div class="side_post_content">
																{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																{{else}}
																	<div class="side_post_title">{{Title}}</div>
																{{/if }}
																<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
															</div>
														</div>
													</a>
												</div>
											{{/loadListRandomSideBar_1}}
										</div>

										<!-- Top Stories Slider Item -->
										<div class="owl-item">
											{{#loadListRandomSideBar_2 this.listRandomSidebar}}
												<div class="side_post">
													<a href="/detail/{{Url}}">
														<div
															class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
															<div class="side_post_image">
																<div><img src="{{Avatar}}" alt=""></div>
															</div>
															<div class="side_post_content">
																{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																{{else}}
																	<div class="side_post_title">{{Title}}</div>
																{{/if }}
																<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
															</div>
														</div>
													</a>
												</div>
											{{/loadListRandomSideBar_2}}
										</div>

										<!-- Top Stories Slider Item -->
										<div class="owl-item">
											{{#loadListRandomSideBar_3 this.listRandomSidebar}}
												<div class="side_post">
													<a href="/detail/{{Url}}">
														<div
															class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
															<div class="side_post_image">
																<div><img src="{{Avatar}}" alt=""></div>
															</div>
															<div class="side_post_content">
																{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																{{else}}
																	<div class="side_post_title">{{Title}}</div>
																{{/if }}
																<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
															</div>
														</div>
													</a>
												</div>
											{{/loadListRandomSideBar_3}}
										</div>
										
									</div>
								</div>
							</div>
						</div>

						<!-- Advertising -->

						<div class="sidebar_section">
							<div class="advertising">
								<div class="advertising_background" style="background-image:url(../../public/images/post_17.jpg)"></div>
								<div class="advertising_content d-flex flex-column align-items-start justify-content-end">
									<div class="advertising_perc">-15%</div>
									<div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
								</div>
							</div>
						</div>

						<!-- Future Events -->

						<div class="sidebar_section future_events">
							<div class="sidebar_title_container">
								<div class="sidebar_title">Future Events</div>
								<div class="sidebar_slider_nav">
									<div class="custom_nav_container sidebar_slider_nav_container">
										<div class="custom_prev custom_prev_events">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
											</svg>
										</div>
								        <ul id="custom_dots" class="custom_dots custom_dots_events">
											<li class="custom_dot custom_dot_events active"><span></span></li>
											<li class="custom_dot custom_dot_events"><span></span></li>
											<li class="custom_dot custom_dot_events"><span></span></li>
										</ul>
										<div class="custom_next custom_next_events">
											<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
												<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
											</svg>
										</div>
									</div>
								</div>
							</div>
							<div class="sidebar_section_content">

								<!-- Sidebar Slider -->
								<div class="sidebar_slider_container">
									<div class="owl-carousel owl-theme sidebar_slider_events">

										{{#if emptyFutureEvent}}
											<p>NOT FUTURE EVVENTS</p>

										{{else}}
											<!-- Future Events Slider Item -->
											<div class="owl-item">
												{{#loadListRandomSideBar_1 this.listFutureEvent}}
													<!-- Future Events Post -->
													<div class="side_post">
														<a href="/">
															<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
																<div class="event_date d-flex flex-column align-items-center justify-content-center">
																	<div class="event_day">{{dayEvent}}</div>
																	<div class="event_month">{{#convertMonth monthEvent}}{{/convertMonth}}</div>
																</div>
																<div class="side_post_content">
																	{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																	{{else}}
																	<div class="side_post_title">{{Title}}</div>
																	{{/if }}
																	<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
																</div>
															</div>
														</a>
													</div>
												{{/loadListRandomSideBar_1}}
											</div>

											<!-- Future Events Slider Item -->
											<div class="owl-item">
												{{#loadListRandomSideBar_2 this.listFutureEvent}}
													<!-- Future Events Post -->
													<div class="side_post">
														<a href="/">
															<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
																<div class="event_date d-flex flex-column align-items-center justify-content-center">
																	<div class="event_day">{{dayEvent}}</div>
																	<div class="event_month">{{#convertMonth monthEvent}}{{/convertMonth}}</div>
																</div>
																<div class="side_post_content">
																	{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																	{{else}}
																	<div class="side_post_title">{{Title}}</div>
																	{{/if }}
																	<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
																</div>
															</div>
														</a>
													</div>
												{{/loadListRandomSideBar_2}}
											</div>

											<!-- Future Events Slider Item -->
											<div class="owl-item">
												{{#loadListRandomSideBar_3 this.listFutureEvent}}
													<!-- Future Events Post -->
													<div class="side_post">
														<a href="/">
															<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
																<div class="event_date d-flex flex-column align-items-center justify-content-center">
																	<div class="event_day">{{dayEvent}}</div>
																	<div class="event_month">{{#convertMonth monthEvent}}{{/convertMonth}}</div>
																</div>
																<div class="side_post_content">
																	{{#if IsPremium}}
																	<div class="side_post_title"><span style="color: red;">{{Title}}</span></div>
																	{{else}}
																	<div class="side_post_title">{{Title}}</div>
																	{{/if }}
																	<small class="post_meta">{{Nickname}}<span>{{DatetimePost}}</span></small>
																</div>
															</div>
														</a>
													</div>
												{{/loadListRandomSideBar_3}}
											</div>

										{{/if}}

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>