<div class="card">
  <div class="card-header">
    <h4>Chỉnh sửa chuyên mục</h4>
  </div>
  <div class="card-body">
    {{#if err}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{err}}
    </div>
    {{/if}}
    {{!-- xử lý thành công --}}
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{success}}
    </div>
    {{/if}}
    <form method="POST" action="/admin/categories/edit/{{this.Category.Url}}">
      <div class="form-group">
        <label for="txtCatName">Name</label>
        <input type="text" class="form-control" id="txtCatName" name="Name" autofocus value="{{this.Category.Name}}">
      </div>
      <div class="form-group">
        <label for="ControlSelectManage">Người quản lý</label>
        <select class="form-control" id="ControlSelectManage" name="Manage">
          <option value="Empty">Trống</option>
          {{#each this.ListManage}}
          <option value="{{IdAccount}}" {{#if SelectedManage}} selected {{/if}}>{{Name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="ControlTextarea">Mô tả</label>
        <textarea class="form-control" id="ControlTextarea" rows="3" name="Description">{{this.Category.Description}}</textarea>
      </div>

      <input type="hidden" name="Id" value="{{this.Category.Id}}">

      <a class="btn btn-success" href="/admin/categories" role="button" title="Back to List">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Trở về
      </a>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>
  </div>
</div>