<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>CATEGORIES</h4>
    <a class="btn btn-outline-success" href="/admin/categories/addlv1" role="button" title="Add Category Lv1">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Thêm chuyên mục cấp 1
    </a>
    <a class="btn btn-secondary" href="/admin/categories/list-of-all" role="button" title="List of all">
      <i class="fas fa-list-ol"></i>
      Danh sách các chuyên mục
    </a>
    <a class="btn btn-outline-warning" href="/admin/categories/activatelv1" role="button" title="Kích hoạt cấp 1">
      <i class="fas fa-key"></i>
      Kích hoạt cấp 1
    </a>
  </div>
  
    {{#if err}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      {{err}}
  </div>
  {{/if}}
  {{!-- xử lý thành công --}}
  {{#if success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{success}}
  </div>
  {{/if}}

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Chuyên mục</th>
        <th scope="col">Đường dẫn tĩnh</th>
        <th scope="col">Manage</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th scope="row" class="text-center">{{Stt}}</th>
        <td>{{Name}}</td>
        <td>{{Url}}</td>
        <td>{{Manage}}</td>
        <td class="text-right">
        <form method="POST" action="/admin/categories/dellv1">
            <a class="btn btn-primary btn-sm" href="/admin/categories/views/{{Url}}" role="button" title="View Category">
                <i class="fas fa-eye"></i>
            </a>          
            <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{Url}}" role="button" title="Edit Category">
                <i class="fas fa-pen"></i>
            </a>
            
            <input type="hidden" name="Id" value="{{Id}}">            
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="row">
    <div class="col-sm-3"></div>
    <nav aria-label="..." class="col-sd-6">
      <ul class="pagination">
        <li class="page-item {{#unless entity.can_go_prev_backward}}disabled{{/unless}}">
          <a class="page-link" href="?page={{entity.prev_backward_value}}" aria-label="Previous">
            <i class="fas fa-backward"></i>
          </a>
        </li>
        <li class="page-item {{#unless entity.can_go_prev}}disabled{{/unless}}">
          <a class="page-link" href="?page={{entity.prev_value}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each this.page_items}}
        {{#if isActive}}
        <li class="page-item active" aria-current="page">
          <span class="page-link">
            {{value}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {{else}}
        <li class="page-item {{#if isDisabled}}disabled{{/if}}">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/if}}
        {{/each}}
        <li class="page-item {{#unless entity.can_go_next}}disabled{{/unless}}">
          <a class="page-link" href="?page={{entity.next_value}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item {{#unless entity.can_go_next_forward}}disabled{{/unless}}">
          <a class="page-link" href="?page={{entity.next_forward_value}}" aria-label="Next">
            <i class="fas fa-forward"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-3"></div>
  </div>
  {{/if}}
</div>