<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>Categories</h4>
    <label for="select">Hiển thị:</label>
    <select name="select" onchange="window.location=this.value">
      <option value="/admin/categories?select=full" {{#if this.selectedFull}} selected {{/if}}>Tất cả chuyên mục</option>
      <option value="/admin/categories?select=main" {{#if this.selectedMain}} selected {{/if}}>Chỉ chuyên mục cha</option>
      <option value="/admin/categories?select=sub" {{#if this.selectedSub}} selected {{/if}}>Chỉ chuyên mục con</option>
    </select> 
    <a class="btn btn-outline-success" href="/admin/categories/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Thêm chuyên mục
    </a>
  </div>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Chuyên mục</th>
        <th scope="col">Đường dẫn tĩnh</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th scope="row" class="text-center">{{Stt}}</th>
        <td>{{Name}}</td>
        <td>{{Url}}</td>
        <td class="text-right">
        <form method="POST" action="/admin/categories/del">
            <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{Url}}" role="button" title="Edit Category">
                <i class="fas fa-pen"></i>
            </a>
            <input type="hidden" name="Url" value="{{Url}}">            
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
  <div class="card-footer text-muted">
    Footer
  </div>
</div>