<div class="col mb-2 mt-2 ml-3">
    <a class="btn btn-info" href="/admin/categories" role="button">
      <i class="fas fa-reply"></i>
      Trở về
    </a>
    <a class="btn btn-secondary" href="#" role="button">
    {{this.Name}}
    </a>
    <a class="btn btn-secondary" href="#" role="button">
    {{this.Manage.Name}}
    </a>
</div>
<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>CATEGORIES</h4>
    <a class="btn btn-outline-success" href="/admin/categories/addlv2/{{this.UrlMain}}" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Thêm chuyên mục cấp 2
    </a>
  </div>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Chuyên mục</th>
        <th scope="col">Đường dẫn tĩnh</th>
        <th scope="col">Thuộc chuyên mục cấp 1</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th scope="row" class="text-center">{{Stt}}</th>
        <td>{{Name}}</td>
        <td>{{Url}}</td>
        <td>{{NameMain}}</td>
        <td class="text-right">
        <form method="POST" action="">
            <a class="btn btn-primary btn-sm" href="/admin/categories/editlv2/{{Url}}" role="button" title="Edit Category">
                <i class="fas fa-pen"></i>
            </a>
            <input type="text" name="Id" value="{{Id}}">            
            <button type="submit" class="btn btn-danger btn-sm" title="Delete Category">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>