<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4>ALL CATEGORIES</h4>
  </div>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Không có dữ liệu.</p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Chuyên mục</th>
        <th scope="col">Đường dẫn tĩnh</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.categories}}
      <tr>
        <th scope="row" class="text-center">{{Stt}}</th>
        <td>{{Name}}</td>
        <td>{{Url}}</td>
        <td class="text-right">
        <form method="POST" action="/admin/categories/del">
            <a class="btn btn-primary btn-sm" href="/admin/categories/edit/{{Url}}" role="button" title="Edit Category">
                <i class="fas fa-pen"></i>
            </a>
            <input type="hidden" name="Url" value="{{Url}}">            
            <button type="submit" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>