{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}
{{#section 'js'}}
    <script
     src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
    </script>
  <script>
    $('#txtDOB').datetimepicker({
      format: 'd/m/Y',
      timepicker: false,
      mask: true,
    });  
  </script>

<script>
$('#frmChangePassword').on('submit', function (e) {
    // alert('submit called');
    e.preventDefault();
    // if (validate())
    //   $('#frmRegister').off('submit').submit();
    validate();
  })

function validate() {
  // ... các lệnh validate khác
  if (!validatePasswordOld() || !validatePassword() || !validateConfirmPassword()){
    return alert('Thông tin nhập không chính xác hoặc không đầy đủ.'); 
  }
  return $('#frmChangePassword').off('submit').submit();    
}

function validateRegexPassword(pw) {
    const re = /^(?=.{5,})(?=.*[a-z]+)(?=.*\d+)(?=.*[A-Z]+)(?=.*[^\w])[ -~]+$/;
    return re.test(pw);
}
function validatePasswordOld() {
  const $result = $("#rsPasswordOld");
  const pw = $("#txtPasswordOld").val();
  $result.text("");

  if (validateRegexPassword(pw)) 
  {
    return true;
  }
  if (pw === "")
  {
    $result.text("Mục bắt buộc phải điền.");
    $result.css("color", "red");
    return false;
  }
  $result.text("Có ít nhất 5 kí tự, gồm chữ thường, hoa, số và kí tự đặc biệt");
  $result.css("color", "red");
  return false;
}

function validatePassword() {
  const $result = $("#rsPassword");
  const pw = $("#txtPassword").val();
  $result.text("");

  if (validateRegexPassword(pw)) 
  {
    return true;
  }
  if (pw === "")
  {
    $result.text("Mục bắt buộc phải điền.");
    $result.css("color", "red");
    return false;
  }
  $result.text("Có ít nhất 5 kí tự, gồm chữ thường, hoa, số và kí tự đặc biệt");
  $result.css("color", "red");
  return false;
}
function validateConfirmPassword() {
  const $result = $("#rsConfirm");
  const confirm = $("#txtConfirm").val();
  const pw = $("#txtPassword").val();
  if (confirm === pw){
    return true;
  }
  $result.text("Mật khẩu không trùng khớp.");
  $result.css("color", "red");
  return false;
}
</script>

{{/section}}

<div class="col mb-2 mt-2 ml-3">
    <a class="btn btn-info" href="/admin/accounts?select={{select}}" role="button" title="Back to List">
      <i class="fas fa-reply"></i>
      Trở về
    </a>
    <a class="btn btn-dark" href="/admin/accounts?select={{select}}" role="button" title="{{select}}">
      {{select}}
    </a>
</div>

<div class="card">
  <div class="card-header">
    <h4>Thay đổi mật khẩu</h4>
  </div>
  <div class="card-body">
    
    {{#if err}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{err}}
    </div>
    {{/if}}
    {{!-- xử lý thành công --}}
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{success}}
    </div>
    {{/if}}

    <form method="POST" id="frmChangePassword">
      <div class="form-group required">
        <label class="control-label" for="txtUsername">Tên tài khoản</label>
        <input type="text" class="form-control" placeholder="Tên tài khoản" id="txtUsername" name="Username" readonly value="{{username}}">
      </div>
      <div class="form-group required">
        <label class="control-label" for="txtPasswordOld">Mật khẩu cũ</label>
        <input type="password" class="form-control" placeholder="Mật khẩu cũ" id="txtPasswordOld" name="PasswordOld">
        <span id="rsPasswordOld"></span>
      </div>
      <div class="form-group required">
        <label class="control-label" for="txtPassword">Mật khẩu mới</label>
        <input type="password" class="form-control" placeholder="Mật khẩu mới" id="txtPassword" name="Password">
        <span id="rsPassword"></span>
      </div>
      <div class="form-group required">
        <label class="control-label" for="txtConfirm">Nhập lại mật khẩu mới</label>
        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" id="txtConfirm" name="Confirm">
        <span id="rsConfirm"></span>
      </div>
      <button type="submit" class="btn btn-primary" formaction="/admin/accounts/views/changepassword">
        <i class="fa fa-check" aria-hidden="true"></i>
        Thay đổi
      </button>
      <br>
      <a href="/admin/accounts/views/resetpassword/{{username}}">
        Cấp lại mật khẩu
      </a>
    </form>
    </form>
  </div>

</div>